{% extends 'base.html.twig' %}

{% block title %}Hello CreateController!{% endblock %}

{% block body %}

<h1>Add Trick</h1>

<!-- fonction dump() utilisé grace au bundle vardumper -->
<p>{{ dump(app.user) }}</p>





<!-- Affichage de ma liste de Tricks -->
<ul>
    <!-- Si User connecté, modification de trick possible avec formulaire -->
    {% if app.user %}
        <h3>Créer une Figure</h3>
        {{ form(create_form) }}
    {% endif %}
</ul>


{% endblock %}
