{% extends 'base.html.twig' %}

{% block title %}EditController{% endblock %}

{% block body %}

<h1>Edit Trick</h1>

<!-- fonction dump() utilisé grace au bundle vardumper -->
<p>{{ dump(app.user) }}</p>
<p>{{ dump(edit_form) }}</p>



<!-- Affichage de ma liste de Tricks -->
<ul>
    <!-- Si User connecté, modification de trick possible avec formulaire -->
    {% if app.user %}
        <h3>Modifier la Figure</h3>
        {{ form(edit_form) }}
    {% endif %}
</ul>


{% endblock %}
