<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Wine List{% endblock %}</title>
    {% block stylesheets %}
    <style type="text/css">
      
      #backgroundimage
      {
          height: auto;
          left: 0;
          margin: 0;
          min-height: 100%;
          min-width: 674px;
          padding: 0;
          position: fixed;
          top: 0;
          width: 100%;
          z-index: -1;
      }
    </style>

    <!-- Le styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ asset('ico/favicon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Ajout Design Login -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css_login/style.css') }}">
    <link rel="stylesheet" href="{{ asset('styleTemplate.css') }}">
    

    {% endblock %}
  </head>

  <body>

    <!-- Appel de mon header personalise -->
    {% if  app.request.pathInfo != "/login" and app.request.pathInfo != "/register" and app.request.pathInfo != "/reset-password" and app.request.pathInfo != "/reset-password/check-email" and app.request.pathInfo != "/reset-password/reset" %}
      {% include 'base/header.html.twig' %}
    {% endif %}
    


    
    {% block body %}
        <div class="container-fluid">
          {% block container %}
          <h1>Wine List</h1>
          <div class="btn-group" role="group" aria-label="Basic example">
              {% block buttons %}
                      <a href="/list" class="btn btn-primary btn-large">List</a>
                      <a href="/about" class="btn btn-primary btn-large">About</a>
                      <a href="/" class="btn btn-primary btn-large">Home</a>
              {% endblock %}
          </div>

          <div id="content">
              {% block content %}
              {% endblock %}
          </div>
          {% endblock %}
        </div>
    {% endblock %}



      <!-- Appel de mon footer personalise -->
      {% if  app.request.pathInfo != "/login" and app.request.pathInfo != "/register" and app.request.pathInfo != "/reset-password" and app.request.pathInfo != "/reset-password/check-email" and app.request.pathInfo != "/reset-password/reset" %}
        {% include 'base/footer.html.twig' %}
      {% endif %}
      
      

      {% block javascript %}
      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      {% endblock %}
  </body>
</html>