{% extends 'base.html.twig' %}

{% block title %}Hello DeleteController!{% endblock %}

{% block body %}

<h1>Delete Trick</h1>


<!-- Affichage de ma liste de Tricks -->
<ul>
    {% if trick %}
        <!-- Passer le titre en lien vers la page details du trick à terme -->
        <li>{{ trick.getTitle|e }}</li>
    {% endif %}


    {% if isConnected %}
        {{ form(delete_trick) }}
    {% endif %}
</ul>


{% endblock %}