{% extends 'base.html.twig' %}

{% block title %}Supprimer le commentaire ? {% endblock %}

{% block body %}


<div class="container mt-5">  
    <div class="row justify-content-center mt-5">          
        <div class="col-md-10 col-md-offset-1 mt-5 mb-4">            
            <div class="card mt-5">
        
                {% if comment %}
                    <p class="mt-5" style="margin-left: 4rem;">{{ comment.getContent|e }}</p>
                {% endif %}

                <!-- Card Body -->
                <div class="card-body">
                    {% if app.user %}
                        {{ form(delete_comment, {'attr': {'class': 'form-control'}}) }}
                    {% endif %}                         
                </div>
            </div>
        </div>     
    </div>           
</div>
{% endblock %}
