{% extends 'base.html.twig' %}

{% block title %}HomeController{% endblock %}

{% block body %}

<h1>Ma Homepage</h1>

<!-- Recuperer les infos de mon user grace aux variables d'environement de Twig (app.)-->
<p>Bienvenu : {{ app.user.username ?? 'Anonymous user' }}</p>

<!-- fonction dump() utilisé grace au bundle vardumper -->
<p>{{ dump(app.user) }}</p>


<ul>
    {% for trick in tricks %}
        <li>{{ trick.getTitle|e }}</li>
        <li>{{ trick.getDescription|e }}</li>
    {% endfor %}
</ul>


{% endblock %}
